@import "../abstracts/variables";

.about-section-block-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    width: 50%;
    position: relative;

    .hr {
        bottom: -15rem;
        border-top-color: $card-background;
    }
}

.about-section-block-2 {
    grid-template-columns: 2fr 1fr !important;
}

.about-header {
    background-color: transparent;
    background-image: linear-gradient(90deg, #7bed9f, #f1f2f6);
    color: white;
    line-height: 5rem;
    font-size: 4rem;
    font-weight: 900;
    width: 25rem;
    letter-spacing: -2px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-header-wide {
    width: 38rem;
}

.about-content {
    font-size: 2.25rem;
    color: #ced6e0;
    font-weight: 300;
}

.about-container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
}

.about-image {
    height: 175px;
    width: 175px;
}
