@import "../abstracts/variables";

.league-container {
    background-color: $card-background;
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 2.5rem;
    margin: 0 auto;
    width: 500px;
    max-width: 100%;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

    &::-webkit-scrollbar {
        display: none;
    }
}

.league {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.league-icon {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.leaderboard-container {
    background-color: $card-background;
    font-size: 2.5rem;
    padding: 5rem;
    width: 750px;
    max-width: 100%;
    min-height: 80rem;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 2rem;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
}

.leader-header-1,
.leader-header-2 {
    text-align: center;
    margin-bottom: 2.5rem;
    text-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
}

.player-list {
    list-style: none;
    padding: 0;

    li {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;

        &:last-child {
            border-bottom: none;
        }
    }
}

.position,
.username,
.points {
    flex-basis: 33%;
    text-align: center;
}

.subject-box {
}

.leaderboard-table {
    margin-top: 1.125rem;
    width: 100%;
    text-align: left;

    th {
        padding: 1rem;
        background-color: rgba(#1e90ff, 0.4);
        text-shadow: $text-shadow;
        box-shadow: $text-shadow;
    }

    td {
        padding: 1rem;
        background-color: rgba($ui-dark-secondary, 0.4);
        text-shadow: $text-shadow;
        box-shadow: $text-shadow;
    }
}
