@import "../abstracts/variables";

.lesson-content-container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 7rem;
    justify-items: center;
    align-items: center;
    height: 90rem;
    width: 80rem;
    margin: 0 auto;
}

.header-lesson-main {
    font-size: 4.25rem;
    font-weight: 900;
}

.lesson-content {
    font-size: 2.5rem;
    display: grid;
    gap: 4rem;
    justify-items: center;
}

.lesson-image-1 {
    height: 300px;
    width: 600px;
}

.lesson-image-2 {
    height: 350px;
}

.question-selections {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;

    a.selected {
        background-color: #1e90ff;
        color: $font-light-main;
    }
}

.activity-paragraph {
    color: $font-light-tertiary;
    font-weight: 300;
}

.activity-question {
    color: $font-light-main;
    text-shadow: $text-shadow;
}

.lesson-bold {
    color: $font-light-main;
    font-weight: 900;
    text-shadow: $text-shadow;
}

.correct-answer {
    background-color: $ui-green-secondary !important;
}

.wrong-answer {
    background-color: #ff6b81 !important;
}

.lesson-button-selected {
    background-color: #1e90ff !important;
    color: $font-light-main !important;
}

.lesson-image-duo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    justify-content: center;
}

.total-points {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.congratulations-container {
    display: grid;
    height: 80rem;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    font-size: 2.5rem;
    width: 50rem;
    margin: 0 auto !important;
    text-align: center;
}
