.text-block {
    display: grid;
    font-size: 2.25rem;
    grid-template-rows: 1fr;
    gap: 2.5rem;
    width: 90rem;
    margin: 0 auto;

    li {
        margin-left: 2.25rem;
        line-height: 1.8;
    }

    p {
        line-height: 1.8;
    }
}
