@import "../abstracts/variables";

.header-main {
    background-color: $ui-dark-secondary;
    color: $font-light-main;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    h1 {
        font-size: $font-size-h1;
        position: relative;
    }

    p {
        color: $font-light-tertiary;
        font-size: 2rem;
        font-weight: 300;
    }
}

.header-secondary {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 auto;

    h2 {
        font-size: 3.5rem;
        font-weight: 800;
        font-family: "Montserrat", sans-serif;
    }
}

.header-username {
    width: 50rem;
    margin: 0 auto;
}

.header-main--1 {
    background-color: transparent;
    background-image: linear-gradient(90deg, #7bed9f, #f1f2f6);
    color: white;
    line-height: 92px;
    font-size: 83px;
    font-weight: 900;
    letter-spacing: -2px;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0 auto;
    width: 35rem;
    position: relative;
    -webkit-text-fill-color: transparent;

    .hr {
        position: absolute;
        width: 75%;
        bottom: -1rem;
        left: 12.5%;
        border-top: $border;
        content: "";
    }
}

.header-main--sm {
    width: 25rem !important;
}

.header-main--2 {
    width: 40rem !important;
}

.header-main--3 {
    width: 50rem !important;
}

.hr {
    position: absolute;
    width: 75%;
    bottom: -1rem;
    left: 12.5%;
    border-top: $border;
    content: "";
}
