@charset "UTF-8";
.scroll-container {
  /* Enable scroll snapping */
  scroll-snap-type: y mandatory;
  /* Set up the scroll container */
  overflow-y: scroll;
  height: 100vh;
}

.scroll-section {
  /* Each section should snap into place */
  scroll-snap-align: start;
  /* Space out the sections a bit */
  margin-bottom: 10px;
  /* Set a minimum height */
  min-height: 100rem;
  /* Optional: center the content within each section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #57606f;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #f1f2f6;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.font-light-2 {
  color: #dfe4ea;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.font-light-3 {
  color: #ced6e0;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #2ed573;
  color: #2f3542;
  font-weight: 900;
  font-size: 1.25rem;
}
.btn:hover,
.btn:link:hover,
.btn:visited:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after,
.btn:link:hover::after,
.btn:visited:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus,
.btn:link:active,
.btn:link:focus,
.btn:visited:active,
.btn:visited:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after,
.btn:link::after,
.btn:visited::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-drk {
  background-color: #57606f !important;
  color: #f1f2f6 !important;
  font-weight: 400 !important;
  box-shadow: none !important;
}
.btn-drk:hover {
  color: #2ed573 !important;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2) !important;
}

.box-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
}

.btn-2,
.btn-2:link,
.btn-2:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #a4b0be;
  color: #2f3542;
  font-weight: 900;
  font-size: 1.25rem;
}
.btn-2:hover,
.btn-2:link:hover,
.btn-2:visited:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-2:hover::after,
.btn-2:link:hover::after,
.btn-2:visited:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-2:active, .btn-2:focus,
.btn-2:link:active,
.btn-2:link:focus,
.btn-2:visited:active,
.btn-2:visited:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-2::after,
.btn-2:link::after,
.btn-2:visited::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #00bcd4;
  color: #f1f2f6;
}

.btn-choice {
  width: 50rem;
  text-align: center;
  font-size: 1.75rem !important;
}

.btn-lesson {
  width: 40rem;
  text-align: center;
  font-size: 1.75rem !important;
}

.btn-next {
  width: 40rem;
  text-align: center;
  background-color: #ffa502 !important;
  font-size: 1.75rem !important;
}

.input-section {
  background-color: #57606f;
}

.form-group {
  display: grid;
  grid-template-columns: auto;
  gap: 1.75rem;
  width: 50rem;
  margin: 0 auto;
}
.form-group .btn {
  font-size: 1.75rem;
  width: 100%;
}

.form-input {
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 600;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(164, 176, 190, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 100%;
  display: block;
  transition: all 0.3s;
}
.form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #2ed573;
}
.form-input:focus:invalid {
  border-bottom: 3px solid #ff7f50;
}
.form-input::placeholder {
  color: rgba(47, 53, 66, 0.35);
  font-weight: 300;
}

.form-label {
  color: #dfe4ea;
  font-weight: 300;
  text-align: left;
}

.checkbox-section {
  margin: 0 auto;
  height: 7rem;
}

input[type=checkbox] {
  appearance: none;
  border-radius: 3px;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  background-color: rgba(164, 176, 190, 0.5);
}
input[type=checkbox]:checked::before {
  content: "✓";
  font-weight: 900;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
  text-align: center;
  color: #7bed9f;
  padding: 0;
  margin: 0;
}

.account-banner {
  height: 25rem;
  width: 50rem;
  background-color: #747d8c;
  margin: 0 auto;
}

.image.left {
  animation: moveInLeft 1s ease-out;
}

.image.right {
  animation: moveInRight 1s ease-out;
}

.moveInBottom {
  animation: moveInBottom 1s ease-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }
  80% {
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100rem);
  }
  80% {
    transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate-image-clockwise img {
  animation: rotate 10s linear infinite;
}

.rotate-image-counterclockwise img {
  animation: rotate 10s linear infinite;
  animation-direction: reverse;
}

.lesson-top-elements {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  height: 10rem;
}

.progress-container {
  content: "";
  display: grid;
  clear: both;
}

.progress-bar-1 {
  background-color: #a4b0be !important;
  border-radius: 1rem;
  width: 120rem;
}

.progress-bar-2 {
  content: "";
  display: table;
  clear: both;
  background-color: #2ed573 !important;
  color: #2ed573 !important;
  border-radius: 1rem;
  width: 25%;
}

.close-game {
  width: 40px;
  height: 40px;
  display: grid;
  margin-left: 40rem;
}

.points-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 36rem;
  gap: 1rem;
}

.sparkle-icon {
  width: 40px;
  height: 40px;
}

#points {
  font-size: 3rem;
  font-weight: 900;
}

.footer-main {
  background-color: #2f3542;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.footer-col {
  padding: 1.25rem;
  border-top: 1px solid #747d8c;
}

.footer-list {
  list-style: none;
  padding: 0.625rem 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
}

.footer-item {
  display: inline-block;
}

.footer-link {
  color: #f1f2f6;
  font-weight: 400;
  text-decoration: none;
  margin-right: 1.25rem;
  text-transform: uppercase;
  transition: all 0.2s;
  display: inline-block;
}
.footer-link:hover {
  color: #2ed573;
  background-color: #2f3542;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}

.footer-copyright {
  padding-top: 0.625rem;
  font-weight: 300;
}

.navbar-main {
  background-color: #2f3542;
  color: #f1f2f6;
  padding: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.navbar-main .container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.navbar-main .container .logo {
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar-main .container .buttons {
  justify-self: end;
  display: flex;
}
.navbar-main .container .buttons .btn-nav {
  background-color: #2f3542;
  color: #f1f2f6;
}
.navbar-main .container .buttons .btn-nav:hover {
  color: #2ed573;
}
.navbar-main .container .nav-item {
  justify-self: end;
  display: flex;
}
.navbar-main .container .nav-item .nav-item-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-main .container .nav-item .nav-icon-text {
  font-size: 1.4rem;
  color: #f1f2f6;
  text-transform: uppercase;
}
.navbar-main .container .nav-items-container {
  justify-self: end;
  display: flex;
}
.navbar-main .container .nav-items-container .nav-item-group {
  margin-left: 1.25rem;
}
.navbar-main .container .nav-items-container .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-main .container .nav-items-container .nav-item-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-main .container .nav-items-container .nav-icon-text {
  font-size: 1.4rem;
  color: #f1f2f6;
  text-transform: uppercase;
}

.nav-icon {
  width: 28px;
  height: 28px;
}

.header-main {
  background-color: #57606f;
  color: #f1f2f6;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.header-main h1 {
  font-size: 6rem;
  position: relative;
}
.header-main p {
  color: #ced6e0;
  font-size: 2rem;
  font-weight: 300;
}

.header-secondary {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0 auto;
}
.header-secondary h2 {
  font-size: 3.5rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.header-username {
  width: 50rem;
  margin: 0 auto;
}

.header-main--1 {
  background-color: transparent;
  background-image: linear-gradient(90deg, #7bed9f, #f1f2f6);
  color: white;
  line-height: 92px;
  font-size: 83px;
  font-weight: 900;
  letter-spacing: -2px;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0 auto;
  width: 35rem;
  position: relative;
  -webkit-text-fill-color: transparent;
}
.header-main--1 .hr {
  position: absolute;
  width: 75%;
  bottom: -1rem;
  left: 12.5%;
  border-top: 1px solid #747d8c;
  content: "";
}

.header-main--sm {
  width: 25rem !important;
}

.header-main--2 {
  width: 40rem !important;
}

.header-main--3 {
  width: 50rem !important;
}

.hr {
  position: absolute;
  width: 75%;
  bottom: -1rem;
  left: 12.5%;
  border-top: 1px solid #747d8c;
  content: "";
}

.main-reg {
  background-color: #57606f;
  height: 110rem;
  display: grid;
}

.main-long {
  background-color: #57606f;
  display: grid;
  grid-template-rows: 1fr;
  gap: 3rem;
}

.main-row-1_2 {
  grid-template-rows: 1fr 2fr;
}

.main-gap-10 {
  gap: 10rem !important;
}

.main-gap-30 {
  gap: 30rem !important;
}

.main-reg-2 {
  display: grid;
  grid-template-rows: 1fr;
  gap: 5rem;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pb {
  padding-bottom: 5rem;
}

.filler-container {
  height: 22rem;
}

.container-center-sm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50rem;
  margin: 0 auto;
  height: 9rem;
  justify-items: center;
  align-items: center;
}

.activity-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 7.5rem;
}

.activity-card {
  background-color: #747d8c;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding-bottom: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.activity-card h3 {
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.activity-card p {
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.activity-card .btn {
  font-size: 1.75rem;
}

.card-img-1 {
  height: 300px;
  width: 300px;
}

.card-img-2 {
  height: 15rem;
  width: auto;
}

.lesson-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.5rem;
}

.temp-position {
  width: 60rem;
  margin: 0 auto;
}

#unity-container {
  position: absolute;
}

#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#unity-container.unity-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
}

#unity-canvas {
  background: #231f20;
}

.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}

#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#unity-logo {
  width: 154px;
  height: 130px;
  background: url("../../Unity_img/unity-logo-dark.png") no-repeat center;
}

#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  margin-left: 6.5px;
  background: url("../../Unity_img/progress-bar-empty-dark.png") no-repeat center;
}

#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("../../Unity_img/progress-bar-full-dark.png") no-repeat center;
}

#unity-footer {
  position: relative;
}

.unity-mobile #unity-footer {
  display: none;
}

#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("../../Unity_img/webgl-logo.png") no-repeat center;
}

#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
}

#unity-fullscreen-button {
  cursor: pointer;
  float: right;
  width: 38px;
  height: 38px;
  background: url("../../Unity_img/fullscreen-button.png") no-repeat center;
}

#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}

.text-block {
  display: grid;
  font-size: 2.25rem;
  grid-template-rows: 1fr;
  gap: 2.5rem;
  width: 90rem;
  margin: 0 auto;
}
.text-block li {
  margin-left: 2.25rem;
  line-height: 1.8;
}
.text-block p {
  line-height: 1.8;
}

.hero-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.hero-container-1 {
  display: grid;
  grid-template-rows: 1fr;
  gap: 7rem;
}

.hero-container-2 {
  display: grid;
  grid-template-rows: 1fr;
  gap: 3rem;
}

.hero-main-1 {
  background-color: transparent;
  background-image: linear-gradient(90deg, #7bed9f, #f1f2f6);
  color: white;
  line-height: 92px;
  font-size: 83px;
  font-weight: 900;
  letter-spacing: -2px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-main-2 {
  line-height: 70px !important;
  font-size: 60px !important;
}

.hero-secondary {
  font-size: 3rem;
  color: #ced6e0;
  font-weight: 300;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.hero-image-left {
  display: grid;
  justify-items: right;
}

.hero-image-right {
  display: grid;
  justify-items: left;
}

.second-scroll-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  width: 50%;
}

.third-scroll-block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  width: 50%;
}

.second-scroll-img {
  display: grid;
  justify-items: center;
  align-items: center;
}

.hero-image-size {
  width: 250px;
  height: 250px;
}

.news-block {
  background-color: rgba(116, 125, 140, 0.66);
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 95rem;
  margin: 0 auto;
}

.new-img-block {
  margin: 0 auto;
}

.news-img {
  height: 200px;
  width: 200px;
}

.article-block {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 2rem;
  padding-bottom: 3rem;
}

.news-date {
  position: relative;
  font-size: 2.25rem;
  font-weight: 600;
  width: 15rem;
  height: 4rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.news-content {
  font-size: 1.75rem;
  font-weight: 300;
  height: 8rem;
  width: 60rem;
}

.about-section-block-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  width: 50%;
  position: relative;
}
.about-section-block-1 .hr {
  bottom: -15rem;
  border-top-color: #747d8c;
}

.about-section-block-2 {
  grid-template-columns: 2fr 1fr !important;
}

.about-header {
  background-color: transparent;
  background-image: linear-gradient(90deg, #7bed9f, #f1f2f6);
  color: white;
  line-height: 5rem;
  font-size: 4rem;
  font-weight: 900;
  width: 25rem;
  letter-spacing: -2px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-header-wide {
  width: 38rem;
}

.about-content {
  font-size: 2.25rem;
  color: #ced6e0;
  font-weight: 300;
}

.about-container {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem;
}

.about-image {
  height: 175px;
  width: 175px;
}

.league-container {
  background-color: #747d8c;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 2.5rem;
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.league-container::-webkit-scrollbar {
  display: none;
}

.league {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.2s;
}
.league:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.image-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.league-icon {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.leaderboard-container {
  background-color: #747d8c;
  font-size: 2.5rem;
  padding: 5rem;
  width: 750px;
  max-width: 100%;
  min-height: 80rem;
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  gap: 2rem;
  margin: 0 auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.leader-header-1,
.leader-header-2 {
  text-align: center;
  margin-bottom: 2.5rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.player-list {
  list-style: none;
  padding: 0;
}
.player-list li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.player-list li:last-child {
  border-bottom: none;
}

.position,
.username,
.points {
  flex-basis: 33%;
  text-align: center;
}

.leaderboard-table {
  margin-top: 1.125rem;
  width: 100%;
  text-align: left;
}
.leaderboard-table th {
  padding: 1rem;
  background-color: rgba(30, 144, 255, 0.4);
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.leaderboard-table td {
  padding: 1rem;
  background-color: rgba(87, 96, 111, 0.4);
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.lesson-content-container {
  display: grid;
  grid-template-rows: 1fr;
  gap: 7rem;
  justify-items: center;
  align-items: center;
  height: 90rem;
  width: 80rem;
  margin: 0 auto;
}

.header-lesson-main {
  font-size: 4.25rem;
  font-weight: 900;
}

.lesson-content {
  font-size: 2.5rem;
  display: grid;
  gap: 4rem;
  justify-items: center;
}

.lesson-image-1 {
  height: 300px;
  width: 600px;
}

.lesson-image-2 {
  height: 350px;
}

.question-selections {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
}
.question-selections a.selected {
  background-color: #1e90ff;
  color: #f1f2f6;
}

.activity-paragraph {
  color: #ced6e0;
  font-weight: 300;
}

.activity-question {
  color: #f1f2f6;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.lesson-bold {
  color: #f1f2f6;
  font-weight: 900;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.correct-answer {
  background-color: #7bed9f !important;
}

.wrong-answer {
  background-color: #ff6b81 !important;
}

.lesson-button-selected {
  background-color: #1e90ff !important;
  color: #f1f2f6 !important;
}

.lesson-image-duo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  justify-content: center;
}

.total-points {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.congratulations-container {
  display: grid;
  height: 80rem;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  font-size: 2.5rem;
  width: 50rem;
  margin: 0 auto !important;
  text-align: center;
}

.logout-container {
  margin: 0 auto;
}

/*# sourceMappingURL=app.css.map */
