@import "../abstracts/variables";

.btn,
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    background-color: $ui-green-main;
    color: $ui-dark-main;
    font-weight: 900;
    font-size: 1.25rem;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }
}

.btn-drk {
    background-color: $ui-dark-secondary !important;
    color: $font-light-main !important;
    font-weight: 400 !important;
    box-shadow: none !important;

    &:hover {
        color: $ui-green-main !important;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2) !important;
    }
}

.box-shadow {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2) !important;
}

.btn-2,
.btn-2:link,
.btn-2:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    background-color: $ui-dark-tertiary;
    color: $ui-dark-main;
    font-weight: 900;
    font-size: 1.25rem;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
        background-color: #00bcd4;
        color: $font-light-main;
    }
}

.btn-choice {
    width: 50rem;
    text-align: center;
    font-size: 1.75rem !important;
}

.btn-lesson {
    width: 40rem;
    text-align: center;
    font-size: 1.75rem !important;
}

.btn-next {
    width: 40rem;
    text-align: center;
    background-color: #ffa502 !important;
    font-size: 1.75rem !important;
}
